[submodule "ansible-collection"]
	path = ansible-collection
	url = git@github.com:mrlesmithjr/cookiecutter-ansible-collection.git
[submodule "cookiecutter-template"]
	path = cookiecutter-template
	url = https://github.com/eviweb/cookiecutter-template.git
[submodule "cookiecutter-ansible-playbook"]
	path = cookiecutter-ansible-playbook
	url = https://github.com/inhumantsar/cookiecutter-ansible-playbook.git
[submodule "cookiecutter-pytest-plugin"]
	path = cookiecutter-pytest-plugin
	url = https://github.com/pytest-dev/cookiecutter-pytest-plugin
[submodule "cookiecutter-homeassistant-component"]
	path = cookiecutter-homeassistant-component
	url = https://github.com/boralyl/cookiecutter-homeassistant-component.git
[submodule "cookiecutter-homeassistant-custom-component"]
	path = cookiecutter-homeassistant-custom-component
	url = https://github.com/oncleben31/cookiecutter-homeassistant-custom-component.git
